# PIAIC - AIC Batch: 36 - UIT
### DATE : 19 - 06 - 2022

# % 13 Trillion AI value creation by 2030                  
## GOALS

1. AI Terminology of NN, ML, DL, Data Science.
2. What AI Can-- and cannot --do? 
3. How to spot opportunities to apply AI to problems in your own organization.
4. What it feels like to build ML and Data Science Projects?
5. How to work with an AI team and build an AI strategy in your company
6.

### ANI -- Artificial Narrow Intelligence. (Lots of Progress)
1. ANI - Single work / model detect -- ANI, any single task.

### AGI -- Artifical General Intelligence. (Almost no Progress)
2. AGI - Multi Narrow model makes -- AGI. multi tasks.

#### * Program has : Set of Instructions & Data.

#### * Video Player has : Instruction, Data & Model.
#### * BIG DATA has --- Variety, Velocity and Volume

In [1]:
print("Hello World")

Hello World

In [2]:
name = 'Aamir Aziz'
print(name)

Aamir Aziz

# Applied for coursera course - AI for everyone. Andrew N.G. 
## from university email ...
### ------------------------------------------------------------------------------------------------------------------------------

# 25-06-2022  3rd Class.

In [3]:
num = 22.0 
# num = "pakistan"
print (num)

22.0

In [4]:
# statically & Dynamically programming languages 
# data types for number --> integr & float/double
#

In [5]:
print(num + 50)

72.0

In [6]:
# num = int(input("print any num "))

In [7]:
num = num + num * 2 
print(type(num))

<class 'float'>

In [8]:
print(num)

66.0

In [9]:
age  = 10
print(age)

10

In [10]:
age += 20
print(age)
age -= 20     
print(age)
age *= 2
print(age)
age /= 2
print(age)

30
10
20
10.0

### Assignment - 01 -- Type Casting

In [5]:
# num_1 = input("Enter the Number 01: ")
# num_2 = input("Enter the Number 02: ")
# result = num_1 + num_2
# print("without casting: ", result)

## after casting 
print('\nAfter Casting')
num_3 = int(input("Enter the Number 01: "))   # comment these two lines for intrupting
num_4 = int(input("Enter the Number 02: "))

addition = num_3 + num_4
subtraction = num_3 - num_4
mul = num_3 * num_4
division = num_3 / num_4


print("\nArithmetic Operators:", "\nAddition:", addition , '\nSubtraction:', subtraction)
print("Multiplication:", mul , '\nDivision:', division)

After Casting
Enter the Number 01: 4
Enter the Number 02: 4

Arithmetic Operators:
Addition: 8
Subtraction: 0
Multiplication: 16
Division: 1.0

### Assignment - 02 -- Concatenating (Hard Coded Variable + User Input)

In [ ]:
greetings = "Hello"
country = input("Your Country Name: ")
print (greetings + '', country)

### Assignment - 03 -- Markesheet

In [2]:
print("ASSIGNMENT - 03 -- MARKSHEET")

name = input("Enter Your Name: ")
f_name = input("Enter Your Father Name: ")

sub_1 = input("Enter the Subject 01:")  
mark_1 = int(input("Enter the Marks: "))
               
sub_2 = input("Enter the Subject 02: ") 
mark_2 = int(input("Enter the Marks: "))
               
subject_3 = input("Enter the Subject 03: ") 
mark_3 = int(input("Enter the Marks: "))
               
subject_4 = input("Enter the Subject 04: ") 
mark_4 = int(input("Enter the Marks: "))
               
marks = mark_1 + mark_2 + mark_3 + mark_4
per = marks/400*100
print(" Your Percentage is:", per,'%')

ASSIGNMENT - 03 -- MARKSHEET
Enter Your Name: waqar
Enter Your Father Name: basharat
Enter the Subject 01:urdu
Enter the Marks: 65
Enter the Subject 02: english
Enter the Marks: 75
Enter the Subject 03: maths
Enter the Marks: 80
Enter the Subject 04: islamiat
Enter the Marks: 55
 Your Percentage is: 68.75 %

# CONDITIONAL STATEMENTS

In [4]:
a  = input("r u a pakistani: ")
if a == 'y':
    print("you r pakistni.")
    b= int(input('enter your age ?'))
    if b>= 18: 
        print("caste ur vote")
    else:
        print('U r under age')
else:
    print("you can't caste your vote")

r u a pakistani: y
you r pakistni.
enter your age ?16
U r under age

# TASK - 01 -- git  --  read
### ---------------------------------------------------------------------------------------------------------------

# 4th class --- dated: 03-07-2022

## Topics : 
### 1. Conditional  statements.
### 2. Nested if , elif and else staements.

In [ ]:
print (1  >= -1)     # greate
print (2  <= 3)      # lessthan and equal 
print (2  != (1*2))  # Not equal

In [ ]:
per = float(input("Enter ur Percentage: "))

if per >= 85:
    print("Grade A")
    
elif per >=70:
    print("Grade A-")
    
elif per >=60:
    print("Grade B")
    
elif per >=50:
    print("Grade B-")
else: 
    print("Fail")

# Boolean operators :
## and , or , not

In [6]:
True and True  #and condition : both should be True

True

In [5]:
False and True

False

In [9]:
True or True  # or condition : one input should be true, either case

True

In [10]:
True or False

True

In [8]:
False or False

False

In [11]:
False or (not True)   #not condition : invert the input

False

In [12]:
False or (not False)

True

In [13]:
True and (not False)

True

In [ ]:
# This rogram has much complexity

age = int(input("Enter the Age: "))
gender = input("Enter ur Gender M/F: ")
salary = float(input("Enter ur salary ($): "))

if age < 18 :
    print("Under age")
    
elif age >=60:
    print("Issue Life Time Card")
    
elif age >= 18 and salary >= 100000 and age < 30  and gender == 'M'  :
    print("Issue short Expiry card")
    
elif age >= 18 and salary == 0 and age <= 22 and gender == "F":
    print("issue shorter expiry card")
    
elif age >= 18 and salary == 0 and age <= 30 and gender == "M":
    print("issue longer expiry card")
    
else:
    print("Issue a longer expiry card ")

In [ ]:
# using Nested if , elif and else statments to reduce the program complexity.

age = int(input("Enter the Age: "))
gender = input("Enter ur Gender M/F ")
salary = float(input("Enter ur salary ($): "))

if age < 17 :
    print("Under age!")
    
elif gender == 'M':
    if age <30 and salary == 0:
        print('Issue short expiry card')
else:
    if age < 22:
        print('short expiry card')
    elif salary >= 10000 :
        print("Issue a longer expiry card")

In [ ]:
'''
Multi line comments
This is second line
This is 3rd line
'''

# LIST:

In [ ]:
khi_temp = [10, 20, 20, 30, 40]

print(khi_temp[4])    #<---------- index

In [ ]:
khi_temp = [10, 20, 20, 30, 40, 'karachi']

print ("before set the index", khi_temp)

khi_temp [4] = 45     #<---- set the value at specific position/index

print(khi_temp[4])    

print("after set the index", khi_temp)

In [ ]:
khi_temp.append(50)  #<-------- append fnction add the element in the last.
print(khi_temp)      #<-- after every print fnction it wil add element multiple times.

In [ ]:
khi_temp.insert(4, "Islamabad")  #<------ inserting fncton add the element at the speicific index.
print(khi_temp)

In [ ]:
khi_temp = [10, 20, 25, 30, 40, 'karachi']

khi_temp[:2]

In [ ]:
khi_temp[2:]

In [ ]:
khi_temp[0:5]

In [ ]:
khi_temp[-5]

In [ ]:
khi_temp[:-5]

In [ ]:
khi_temp[-5:]

In [ ]:
khi_temp = [10, 20, 25, 30, 40, 'karachi']

del khi_temp[0:2]
print(khi_temp)

In [ ]:
khi_temp.remove("karachi")    #<--- remove fnctn delete the specific value but not return the deleted element.
print(khi_temp)

In [ ]:
khi_temp.pop(0)  #<-- pop will remove the said element and also returns.

In [ ]:
print(khi_temp)

# TUPLES - immutable data structure 
## insert , delete , append fnction not wroking in tupples.

In [15]:
pk_temp = (10, 15, 20, 25)

In [16]:
print(pk_temp)

(10, 15, 20, 25)

In [17]:
pk_temp[0] = 5  #<--- not overwrite

TypeError: 'tuple' object does not support item assignment

In [18]:
print(pk_temp)

(10, 15, 20, 25)

In [19]:
for i in pk_temp:
    print(i)

10
15
20
25

# To find the minimum value in the list and tupple :

In [ ]:
numbers = [10, 20, 30, -1, -4, -10 ]
min_val = numbers[0]
for val in numbers :
    if val < min_val:
        
        min_val = val
        
print(min_val)

In [ ]:
numbers = (10, 20, 30, -1, -4, -10 )
min_val = numbers[0]
for val in numbers :
    if val < min_val:
        
        min_val = val
        
print(min_val)

# TASK:  
## find Maximum Value , average , check the repeated value.
## conversion decimal into binary.

In [ ]:
#MAX Value
numbers = (10, 20, 30, -1, -4, -10 )
max_val = numbers[0]
for val in numbers :
    if val > max_val:
        
        max_val = val
        
print(max_val)

# 5th CLASS -- dated: 17-07-2022 
## websites  to check
### 1. hackerrank , 2. codilitiy, 3. leetcode

UTF = 8  
UTF = 16  -- Multibytes

In [ ]:
a = 2**16

a

In [12]:
x = ("AAABCADDE")
lst = list(x)

list_1 = lst[0:3]
list_2 = lst[3:6]
list_3 = lst[6:]

print(list_1)
print(list_2)
print(list_3)

['A', 'A', 'A']
['B', 'C', 'A']
['D', 'D', 'E']

In [13]:
#x = ["A","A","A","B","C","A","D","D","E"]
x = ("AAABCADDE")
lst = list(x)

list_1 = lst[:3]
list_2 = lst[3:6]
list_3 = lst[6:]
list_4 = lst[:5]
list_5 = lst[5:]
print(list_1,'\n',list_2,'\n',list_3,'\n', list_4,'\n', list_5)

['A', 'A', 'A']
 ['B', 'C', 'A']
 ['D', 'D', 'E']
 ['A', 'A', 'A', 'B', 'C']
 ['A', 'D', 'D', 'E']

# LOOP PRACTICE

In [20]:
city_to_check = "HYD"
cleanest_cities = ["Lahore", "HYD", "Sukkhur"]

# use plurals for list and singular as variable name
#sytax - for loop
#for <variable> in <list>
#variable will contain a single value in each iteration
# i.e: first iteration, first value, second iteration secnd value and so on...

for clean_city in cleanest_cities:
    if city_to_check == clean_city:
        print("Its one of the Cleanest Citis")
        break
else:
    print("not found")

Its one of the Cleanest Citis

In [21]:
cities = ["Karachi", "Hyderabad", "Islamabad", "Sukkhur", "Larkana", "Lahore", "Quetta", "Daddu", "Thatta"," Sawat"]

k =[]
# not_k_in_cities = []

for i in cities:
    if "k" in i:
        k.append(i)
    elif 'K' in i:
        k.append(i)
#     else:
#         not_k_in_cities.append(i)
        
# print(not_k_in_cities)

print(k)

['Karachi', 'Sukkhur', 'Larkana']

In [69]:
cities = ["karachi", "Hyderabad", "Islamabad", "Sukkhur", "Larkana", "Lahore", "Quetta", "Daddu", "Thatta"," Sawat"]

not_k_in_cities = []

for i in cities:
    if not "k" in i:
        not_k_in_cities.append(i)
        
print(not_k_in_cities)

['Hyderabad', 'Islamabad', 'Lahore', 'Quetta', 'Daddu', 'Thatta', ' Sawat']